* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    box-sizing: border-box;

}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logoalura {
    position: absolute;
    width: 120px;
    height: 48px;
    left: 340px;
    top: 20px;
}

 body {
    background-color: #F3F5FC;
}

.avisoletra {
    margin-left: 5px;
}

.input-texto {
    margin-top: 130px;
    height: 450px;
    color: #0A3871;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    border-radius: 32px;
    border: none;
    outline: none;
}

.encriptar {
    width: 328px;
    height: 67px;
    left: 110px;
    top: 675px;
    background: #0A3871;
    border-radius: 24px;
    font-size: 0.5em;
    color: #FFFFFF;
    cursor: pointer;
}

.encriptar:hover, .desencriptar:hover{
    background-color:hotpink;
}

.desencriptar {
    width: 328px;
    height: 67px;
    left: 452px;
    top: 675px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 0.5em;
    cursor: pointer;
}

.mensagem {
    position: absolute;
    width: 400px;
    height: 750px;
    left: 1200px;
    top: 40px;
    border-radius: 32px;
    border: none;
    text-align: center;
}

.fundo-mensagem {
    position: absolute;
    width: 400px;
    height: 750px;
    left: 1200px;
    top: 40px;
    border-radius: 32px;
    border: none;
    background: #FFFFFF;
}

.boneco {
    position: absolute;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 210px;
}

.informar-h1 {
    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 540px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}

.informar-texto {
    position: absolute;
    width: 336px;
    height: 122px;
    left: 32px;
    top: 640px;
    text-align: center;
    font-size: 0.5em;
}

.copiar {
    position: absolute;
    width: 336px;
    height: 67px;
    left: 1233px;
    top: 720px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 0.5em;
}

.rodape{
    text-align: center;
    font-size: small;
}

.rodape p{
    font-size: small;
}

.rodape img{
    padding: 10px;
}

.link, .git{
    width: 50px;
}

/* Configurações para responsivo */
@media  (max-width: 1200px) {

    .boneco{
        display: none;
    }

    .logoalura{
        position: absolute;
        width: 94px;
        height: 50.58px;
        left: 20px;
        top: 50px;
    }
    .input-texto{
        position: absolute;
        width: 300px;
        height: 48px;
        left: 20px;
        top: 240px;
    }
    .avisoletra{
        position: absolute;
        width: 252px;
        height: 18px;
        left: 20px;
        top: 736px;
    }

    .encriptar {
        position: absolute;
        width: 318px;
        height: 67px;
        left: 20px;
        top: 760px;
        background: #0A3871;
        border-radius: 24px;
        font-size: 0.5em;
        color: #FFFFFF;
    }

    .desencriptar {
        position: absolute;
        width: 318px;
        height: 67px;
        left: 388px;
        top: 760px;
        background: #D8DFE8;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-size: 0.5em;
    }
   
    .fundo-mensagem{
        width: 670px;
        height: 233px;
        left: 50px;
        top: 880px;
    }

    .informar-h1{
        width: 624px;
        height: 29px;
        left: 0px;
        top: 20px;
    }

    .informar-texto{
        width: 624px;
        height: 24px;
        left: 0px;
        top: 85px;
    }

    .mensagem{
        width: 670px;
        height: 233px;
        left: 50px;
        top: 880px;
    }

    .copiar{
        width: 614px;
        height: 67px;
        left: 70px;
        top: 1020px;
    }

    .rodape p{
        position: absolute;
        top: 1120px;
        left: 150px;
    }

    .link{
        position: absolute;
        top: 1120px;
        left: 390px;
    }

    .git{
        position: absolute;
        top: 1120px;
        left: 440px; 
    }

}

@media (max-width: 600px){
    .boneco{
        display: none;
    }
    
    .logoalura{
        position: absolute;
        left: 20px;
        top: 50px; 
    }

    .input-texto{
        position: absolute;
        width: 260px;
        height: 48px;
        left: 40px;
        top: 40px;
        font-size: 24px;
    }

    .avisoletra{
        position: absolute;
        width: 250px;
        height: 18px;
        left: 50px;
        top: 330px;
    }
    
    .encriptar{
        position: absolute;
        width: 280px;
        height: 57px;
        left: 50px;
        top: 360px;
    }

    .desencriptar{
        position: absolute;
        width: 280px;
        height: 57px;
        left: 50px;
        top: 430px;
    }

    .fundo-mensagem{
        position: absolute;
        width: 280px;
        height: 186px;
        left: 50px;
        top: 500px;
    }

    .informar-h1{
        position: absolute;
        width: 263px;
        height: 58px;
        left: 10px;
        top: 0px;
    }

    .informar-texto{
        position: absolute;
        width: 263px;
        height: 48px;
        left: 10px;
        top: 94px;
        
    }

    .mensagem{
        position: absolute;
        width: 280px;
        height: 186px;
        left: 50px;
        top: 500px;
    }

    .copiar{
        position: absolute;
        width: 280px;
        height: 67px;
        left: 50px;
        top: 610px;
    }

    .rodape p{
        position: absolute;
        top: 680px;
        left: 70px;
    }

    .link{
        position: absolute;
        top: 710px;
        left: 120px;
    }

    .git{
        position: absolute;
        top: 710px;
        left: 170px; 
    }
}
